/* then import the default bootstrap overrides made for this component library */
@import "./_bootstrap-overrides.scss";

/* import bootstrap SASS first, since some variables are reused in _component-variables.scss */
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* then import the component variables */
@import "./_variables.scss";

/* Mixins contain generic, useful CSS components, which are used in the _components.scss */
@import "./_mixins.scss";

/* finally import the actual component styles that use the component variables, you can change the variables at the top */
@import "./_components.scss";


/* React date picker styling */
@import './_react-datepicker.scss';


/* React autosuggest styling */
@import './_react-autosuggest.scss';

/* React multi selection drop down component stylings */
@import '../node_modules/react-power-select/dist/react-power-select';

/* React custom stylings for power select */
@import './powerSelect';


/* Disables bootstrap styling; only works with custom styles */
.bg__no-bootstrap-custom-styling {
  @import './workspace/index.scss';
}