.bg__annotation-row{
  .item{
    .classification{
      .vocabulary{
        width: 150px;
      }
    }

    .metadata{
      .template{
        width: 100px;
      }
    }

    .created{
      width: 100px;
    }  

    .info{
      table{
        td{
          padding-top: 5px;
        }  
      }      
    }
  }

  

  .sublevel{
    td.actions{
      text-align: right;
      .btn{
        margin: 0;
      }
    }
  }
}