.bg__nested-table{
 .item-row{
  margin: 10px 0 20px 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  border-radius: 2px;
  border: 1px solid $clGreyTint;

  .item{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;

    .selector{
      flex-basis: 40px;
        input{
          margin-left: 10px;
        }
      }

    .actions{
      text-align: right;
    }

    .info{
      flex-basis: 600px;
      box-sizing: border-box;
      vertical-align: top;
      padding-left: 10px;
      table{
        width: 100%;
        td{
          padding: 5px 10px 0 10px;
          height: 80px;
          min-width: 150px;
          .bold{
            font-weight: bold;
          }
        }
      }
    }

    .sublevel-button{
      position:absolute;
      right: 0;
      bottom: 0;
      background-color: $clGreyTint;
      color: $clDark;
      text-transform: uppercase;
      font-family: $fontHeading;
      padding: 10px 30px 10px 5px;
      background-position: center right 10px;
      background-repeat: no-repeat;
      background-image: $arrowDownDarkUrl;
      cursor: pointer;

      &:hover, &.active{
        background-color: darken($clGreyTint, 3);
        &:before{
          border-right: 20px solid darken($clGreyTint, 3);
          border-bottom: 20px solid darken($clGreyTint, 3);
        }
      }

      &:before{
        content: " ";
        position:absolute;
        left: -40px;
        top: 0px;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid $clGreyTint;
        border-bottom: 20px solid $clGreyTint;
      }

      &.active{
        background-image: $arrowUpDarkUrl;
      }

      @import '../_count.scss';

      &.zero .count{
        background-color: $clDarkGrey;
      }
    }
  }

  .sublevel{
    background-color: $clGreyTint;
    padding: 10px 20px;
    table{
      width: 100%;
      th{
        text-transform: uppercase;
        font-family: $fontHeading;
        padding: 5px 0 10px 0;
      }

      td{
        padding: 5px 0px;
        border-top: 1px solid darken($clGreyTint,3);
      }

    }
  }
}
}