.bg__project-table{

  @import '../_tools.scss';

  .error{
    padding:10px;
  }

  table{
    .bookmark-icon{
      background-image: $iconBookmarkWhiteUrl;
      background-repeat: no-repeat;
      background-position: center left;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }

    .collaborators{
      display: inline-block;
      color: $clPrimaryAlt;
      text-transform: uppercase;
      font-size: 12px;
      font-family: $fontHeading;
    }

    &.access{
      text-transform: capitalize;
    }
  }
}