.bg__project-annotation-view{
  @import '../_tools.scss';

  .tools{
    background-color: $clWhite;

    .radiogroup{
      display: inline-block;
      label,input{
        cursor: pointer;
      }
    }

    .view{
      margin-bottom: 5px;
    }

    .export-button{
      float:right;
      margin-top: -45px;
      margin-right: 0;
      margin-bottom: 0;
    }

    .type-label{
      margin-left: 10px;
    }

    .type-select{
      margin-left: 10px;
    }
  }
}