.bg__bulk-actions{
  min-height: 50px;
  margin-bottom: 40px;

  select{
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px 10px;
    min-width: 100px;
    vertical-align: middle;
  }

  .btn{
    margin:0;
  }
}