.DS_Store
node_modules
dist
.sass-cache
app/collection/mappings
!app/collection/mappings/ExampleCollectionConfig.js
!app/collection/mappings/ExampleCollectionMapping.js
!app/collection/mappings/CollectionConfig.js
.idea
transcript.json