.bg__project-edit, .bg__project-create{

  @import './infoBar.scss';

  form{
    margin-left: 40px;

    input[type=text], textarea{
      display:block;    
    }

    .actions{
      margin-top: 20px;
      margin-left: 120px;
    }

    input[type=checkbox]{
      margin-right: 10px;
    }
  }
}