// General styling
@import './style/_variables.scss';
@import './style/_colors.scss';
@import './style/_fonts.scss';
@import './style/_images.scss';
@import './style/_reset.scss';
@import './style/_layout.scss';
@import './style/_mixins.scss';

// Workspace -- General
@import './components/SortTable.scss';

// Workspace -- Projects
@import './components/projects/ProjectListView.scss';
@import './components/projects/ProjectForm.scss';
@import './components/projects/ProjectViewWrapper.scss';
@import './components/projects/ProjectDetailsView.scss';
@import './components/projects/ProjectTable.scss';

@import './components/projects/ProjectSessionView.scss';

@import './components/projects/ProjectQueriesView.scss';
@import './components/projects/ProjectQueriesTable.scss';

@import './components/projects/ProjectAnnotationView.scss';
@import './components/projects/NestedTable.scss';
@import './components/projects/BookmarkTable.scss';
@import './components/projects/BookmarkRow.scss';
@import './components/projects/AnnotationTable.scss';
@import './components/projects/AnnotationRow.scss';


// Workspace -- Personal collections
@import './components/personalcollections/CollectionListView.scss';
@import './components/personalcollections/CollectionTable.scss';
@import './components/personalcollections/DataEntryTable.scss';

// Helpers
@import './components/helpers/BulkActions.scss';
@import './components/helpers/Pagination.scss';
